/marmalade-repo-test/.emacs.d
/marmalade-repo-test/logs
/marmalade-repo-test/packages/archive-contents.el
/marmalade-repo-test/archives/
/marmalade-service-*.tar
/.deploy
/builds
/demo-multifile-*.tar
