/*
  styles for the marmalade repository
 */

body {
    font-family: sans-serif;
    color: #895221;
    margin-left: 5%;
    margin-right: 5%;
}

h1,h4 {
    color: DarkOrange;
    text-shadow: 0 0 0.1em #895221;
}

h1 {
    font-size: 450%;
}

h4 {
    font-size: 150%;
}

pre {
    margin: 1%;
    padding: 3%;
    background-color: #dddddd;
    border: thin solid #895221;
    width: 60%;
}

a:link {
    color: #895221;
}

a:visited {
    color: #893221;
}

#blurb {
    width: 50%;
}

p.description {
    font-style: italic;
}

#login-panel {
    float: right;
}

#panel {
    clear: both;
    float: right;
    width: 30%;
}

form[name=upload] {
    margin-top: 3em;
    border: thin solid;
    width: 90%;
    text-align: right;
    padding: 1em;
}

form input[type=file] {
    border: thin solid;
}

label {
    display: block;
    float: left;
    width: 80px;
}

/*
  end of marmalade styles
  */
